.wrapper {
  padding: 50px 100px 50px 0;
  font-size: 30px;
}

.wrapper img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: -8px;
  margin-right: 10px;
}

.total-review {
  font-size:  15px;
  padding: 10px 0;
}

.total {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
}